---
BasedOnStyle: Google
IndentWidth: 2
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -1
BinPackArguments: true
BinPackParameters: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2
FixNamespaceComments: true
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
