html {
  /* background: url(temple_of_portunus.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: #464343;
  color: #cdb5db;
  opacity: 0.95 !important;
  margin-top: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #cbd5db;
}

.bg-steel {
  background-color: #4c6475;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #464343;
  color: #cbd5db;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-heading {
  font-size: 2.5rem;
}

footer {
  background: #464343;
  color: #cbd5db;
  opacity: 0.95 !important;
}