{% extends "layout.html" %}
{% block content %}

{% for dungeon_route in dungeon_routes %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ dungeon_route.creator }}</a>
      <small class="text-muted">{{ dungeon_route.date_created_utc }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ dungeon_route.title }}</a></h2>
    <p class="article-content">{{ dungeon_route.content }}</p>
  </div>
</article>

{% endfor %}
{% endblock content %}

