<!doctype html>
<html>

<head>
  <meta name="google-site-verification" content="GRtRU_ZAeFci7Y1mEgD7Ya1r8wQS-h9NJbOHSgoycVc" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">

  {% if title %}
  <title>Portunus - {{ title }}</title>
  {% else %}
  <title>Portunus</title>
  {% endif %}
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{{ url_for('main.index') }}">Portunus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link"
              href="https://github.com/mrdmnd/portunus/blob/master/BACKGROUND.md">Background</a>
            <a class="nav-item nav-link" href="https://github.com/mrdmnd/portunus">Contribute</a>
            <a class="nav-item nav-link" href="#">Addon</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="#">Characters</a>
            <a class="nav-item nav-link" href="#">Teams</a>
            <a class="nav-item nav-link" href="#">Routes</a>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user.username }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('main.user', username=current_user.username) }}">My Profile</a>
                <a class="dropdown-item" href="{{ url_for('auth.update_account') }}">Settings</a>
                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
              </div>
              <button class="btn btn-warning" type="button">Sim History</button>
            </div>
            {% else %}
            <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category}}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <footer class="page-footer font-small teal pt-4 fixed-bottom">
    <div class="container-fluid text-center">
      <div class="row justify-content-center">
        <div class="col-4">
          <h5 class="text-lowercase">/dev/urandom</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">FAQ</a>
            </li>
            <li>
              <a href="https://github.com/mrdmnd/portunus">Codebase</a>
            </li>
            <li>
              <a href="https://github.com/mrdmnd/portunus/issues/new">Submit a Bug</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-4">
          <h5>Community</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://twitter.com/PortunusPlus">Follow us on Twitter</a>
            </li>
            <li>
              <a href="http://discord.gg/JkUNbn">Join our Discord</a>
            </li>
            <li>
              <a href="mailto:admin@portunuspl.us">Get Support</a>
            </li>
            <li>
              Crafted with love by <a href="https://raider.io/characters/us/tichondrius/Synecdoshout">Synecdoche</a>.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
</body>

</html>